$gl-width: 180px;
$gl-height: 300px;
@import '../../variables.scss';

body{
    background: url("https://i.imgur.com/BGssb4x.jpg");
}
.imgH{
    height: 300px;
    
}

.book_cont{
    height: $gl-height;
    width: $gl-width;
    background: $background-color;
    box-shadow: 0px 0px 10px $shadow-color;
    margin: 10px;
    margin-bottom: 40px;
}

.list{
    color: #ffffff;
}
li{
    list-style-type: none;
}

.books_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}