$gl-width: 180px;
$gl-height: 300px;
@import '../../variables.scss';

.books_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

//AAAAAAAAAAAAAAAAAAAAAA
$cont_width: 220px;
$cont_height: 330px;
$content_cont_height: 100px;


.imgH{
    width: $cont_width;
    height: $cont_height;
    z-index: 0;
}


.book_container{
    //padding: 2px;
    width: $cont_width;
    background: #212121;
    position: relative;
    box-shadow: 0px 3px 10px #00000065;
    margin: 10px;
    border-radius: 5px;
}

.book__content_container{
    z-index: 999;
    position: absolute;
    bottom: 0px;
    width: $cont_width;
    height: $content_cont_height;
    background: #21212165;
    padding: 0px 0px;
    color: #fff;
    font-weight: 200;
    font-size: 16pt;
    transition: 0.1s ease-out;
    &:hover{
        background: #212121f1;
    }

}
.book_year{
    padding: 0px 10px;
}
.book_name{
    padding: 5px 10px;
    font-weight: 400;
}

.delete_button{
    position: absolute;
    top: 0px;
    z-index: 999999;
    right: 0px;
    border: none;
    background: #21212165;
    width: 40px;
    height: 30px;
   
    cursor: pointer;
    &:hover{
        background: #ff212165;
        color: #fff;
    }
}

.flex-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}